td {
    height: 60px;
    line-height: 60px;
    padding: 10px;
    text-align: center;
    font-size: 25px;
}

button.delete_btn, button.update_btn {
      width: 100px;
      height: 40px;
      background-color: #fff;
      color: red;
      text-align: 40px;
      font-size: 20px;
      border: 1px solid red;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
      cursor: pointer;
      outline: none;
      margin: 0 5px;
}

button.delete_btn:hover, button.update_btn:hover {
      color: #fff;
      background-color: red;
}

button.update_btn {
      color: limegreen;
      border: 1px solid limegreen;
}

button.update_btn:hover {
      color: #fff;
      background-color: limegreen;
}